.content {
    flex-direction: column;
    align-items: center;
    margin: 0%;
    text-align: center;
    width: 100%;
}
#extendHeaderImg {
    width: 100%;
    height: 30vh;
    padding: 0;
}
.current-nav {
    font-weight: bold;
    color: #000000;
    padding: 25px;
    font-size: x-large;
}
.btn-outline-success {
    color: #000000;
    border-color: #b2b2b2;
}
.btn-outline-success:hover {
    color: #ffffff;
    background-color: #c3ccd5;
    border-color: #000000;
}
.thead th {
    background-color: #f2f2f2;
}
.table {
    color: #000000;
    border-color: #b2b2b2;
    max-width: 1200px;
    margin: auto;
}
.table a {
    color: black;
}
.table a:hover {
    color: #3b3ea5;
}
.table td, .table th {
    vertical-align: middle;
    text-align: center;
    border-color: #dddddd;
}
.table td.title {
    text-align: left;
}
.pagination {
    justify-content: center;
}
.pagination .page-link {
    color: black;
    padding: 5px 20px;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}
.search-container .current-nav {
    margin-bottom: 0;
}
.search-container .form-inline {
    display: flex;
    justify-content: flex-end;
}
.dropdown-toggle::after {
    margin-left: 0.255em;
}
.post-container {
    text-align: right;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.btn {
    margin: 20px;
}
.current-nav {
    font-weight: bold;
    color: #000000;
}
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;
}
.card {
    box-sizing: border-box;
}